################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs/SocialMediaV2/v15/Server/sqlite3
/.vs/SocialMediaV2/DesignTimeBuild/.dtbcache
/.vs/SocialMediaV2/SocialMedia.Api/obj/Debug/netcoreapp2.1
/.vs/SocialMediaV2/SocialMedia.Api/obj/Debug/netcoreapp2.0